<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Speed up NuGet operations -->
    <add
        key="globalPackagesFolder"
        value="%USERPROFILE%\.nuget\packages" />
    <add
        key="repositoryPath"
        value="packages" />
    <add
        key="http_proxy"
        value="" />
    <add
        key="http_proxy.user"
        value="" />
    <add
        key="signatureValidationMode"
        value="accept" />
    <add
        key="maxHttpRequestsPerSource"
        value="16" />
  </config>
  <packageSources>
    <clear />
    <add
        key="nuget.org"
        value="https://api.nuget.org/v3/index.json"
        protocolVersion="3" />
  </packageSources>
</configuration>
